network:
  version: 2
  ethernets:
    eth1:
      match:
        macaddress: {{ private_mac_address }}
      set-name: eth0
      dhcp4: true
      nameservers:
        addresses:
          - 8.8.8.8
          - 4.4.4.4
