#cloud-config
growpart:
  mode: auto
  devices: ['/']

resize_rootfs: true

ssh_deletekeys: true
ssh_genkeytypes:
  - rsa
  - ecdsa
  - ed25519

ssh_pwauth: false

users:
  - name: root
  {% if ssh_key %}
    ssh_authorized_keys:
      - {{ ssh_key }}
  {% endif %}
